form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .newExamineeContainer {
        width: 20rem;
        display: flex;
        flex-direction: column;
    }
    
    .buttons {
        display: flex;
        gap: 80px;
        justify-content: space-between;
        align-items: center;
        
        button, a {
            font-size: 1.1rem;
        }
    }
}