<div class="componentContainer">
  <h2>Új vizsgázó felvétele</h2>
  <div class="newExamineeContainer">
    <mat-form-field appearance="fill">
      <mat-label>Vizsgázó neve</mat-label>
      <input matInput [formControl]="nev" required>
      <mat-error *ngIf="nev.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Osztály</mat-label>
      <mat-select [formControl]="osztaly" required>
        <mat-option  *ngFor="let osztaly of osztalyok" [value]="osztaly.value">
          {{osztaly.viewValue}}</mat-option>
      </mat-select>
      <mat-error *ngIf="osztaly.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Terem</mat-label>
      <mat-select  [formControl]="terem" required>
        <mat-option *ngFor="let terem of termek" [value]="terem.value">
          {{terem.viewValue}}</mat-option>
      </mat-select>
      <mat-error *ngIf="terem.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <a mat-raised-button color="primary">Mentés</a>
    <a routerLink="/" mat-raised-button color="primary">Mégse</a>
  </div>

</div>